body {
  @extend %roboto-400;
  font-size: 21px;
  line-height: 30px;
  color: $colorDefault;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1238px;
}

.btn {
  display: inline-block;
  padding: 18px 24px;
  background: $colorAccent;
  color: #fff;
  border-radius: 14px;
  font-size: 16px;
  line-height: 18px;
  transition: 0.3s all;
  &:hover {
    background-color: #0568de;
  }
  &--white {
    background-color: #fff;
    color: #000;
    border: 1px solid #eff0f6;
    &:hover {
      color: #fff;
    }
  }
}

.title {
  font-size: 48px;
  line-height: 58px;
  color: $colorTitle;
  text-align: center;
  @extend %roboto-700;
  margin-bottom: 22px;
}
.subtitle {
  text-align: center;

  margin: 0 auto;
}
