$colorTitle: #211f54;
$colorAccent: #0075ff;
$colorDefault: #6e7191;

%roboto-400 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
%roboto-700 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
